.NewProduct {
}
.ExitBtn {
  width: 1100px;
  padding: 6px 25px;

  button {
    border: none;
    background: #f0f0f6;
    color: #212121;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 72%; /* 10.08px */
    padding: 14px 16px;
    border-radius: 5px;
  }
}
.AddProduct {
  display: flex;
  align-items: center;
  //   justify-content: space-between;
  flex-direction: column;
  width: 1100px;
  height: 720px;
  margin: 0 auto;
  background-color: #fff;
  flex-shrink: 0;
  margin-top: 40px;
  border-radius: 12px;
  background: #fff;
}
.ExitPage {
  top: 0;
}
.nameProduct {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 9px;

  span {
    color: #f1419d;
    font-family: Mulish;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 72%;
  }
  label {
    color: #212121;
    font-family: Mulish;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 72%; /* 10.8px */
  }

  input {
    width: 764px;
    height: 44px;
    padding: 0 10px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #f6f6fb;
    color: #212121;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 72%; /* 10.8px */
  }
}
.BrendLine {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 20px 0;

  .Brend {
    display: flex;
    width: 362px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;

    input {
      width: 362px;
      height: 44px;
      padding: 0 10px;
      flex-shrink: 0;
      border-radius: 6px;
      background: #f6f6fb;
      color: #212121;
      font-family: Mulish;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 72%; /* 10.8px */
    }

    label {
      color: #212121;
      font-family: Mulish;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 72%; /* 10.8px */
    }

    span {
      color: #f1419d;
      font-family: Mulish;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 72%;
    }
  }
  .SerCode {
    display: flex;
    width: 362px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;

    input {
      width: 362px;
      height: 44px;
      padding: 0 10px;
      flex-shrink: 0;
      border-radius: 6px;
      background: #f6f6fb;
      color: #212121;
      font-family: Mulish;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 72%; /* 10.8px */
    }

    span {
      color: #f1419d;
      font-family: Mulish;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 72%;
    }
  }
}
.Comment {
  display: flex;
  width: 764px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  span {
    color: #f1419d;
    font-family: Mulish;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 72%;
  }
  textarea {
    width: 764px;
    height: 110px;
    padding: 0 10px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #f6f6fb;
    color: #212121;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 72%; /* 10.8px */
  }
}

.Money {
  display: flex;
  margin-top: 90px;
  gap: 40px;

  .Summa {
    display: flex;
    width: 228px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;

    input {
      width: 228px;
      height: 44px;
      padding: 0 10px;
      flex-shrink: 0;
      border-radius: 6px;
      background: #f6f6fb;
      color: #212121;
      font-family: Mulish;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 72%; /* 10.8px */
    }
  }

  .SilceSum {
    display: flex;
    width: 228px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;

    input {
      width: 228px;
      height: 44px;
      padding: 10px 10px;
      flex-shrink: 0;
      border-radius: 6px;
      background: #f6f6fb;
      color: #212121;
      font-family: Mulish;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 72%; /* 10.8px */
    }
  }
}

.footer {
  margin-top: 10px;
  width: 100%;
  height: 80px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 5px 40px 0px rgba(33, 33, 33, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.FooterInfo {
  display: flex;
  gap: 20px;

  button {
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    background: #1bc58d;
    border: none;
    color: #fff;
  }
}

// .newProduct__container {
//   width: 1100px;
//   margin: 0 auto;
// }

// .form__container {
//   width: 900px;
//   margin: 0 auto;
// }

// .newProduct {
//   width: 1100px;
//   margin: 0 auto;
//   border-radius: 25px;
//   height: 90vh;
//   background-color: white;
//   margin-top: 50px;
//   margin-bottom: 300px;

//   &__input_1 {
//     border-radius: 6px;
//     background: #f6f6fb;
//     width: 764px;
//     height: 44px;
//     margin-bottom: 34px;
//   }

//   &__input_2 {
//     border-radius: 6px;
//     background: #f6f6fb;
//     width: 362px;
//     height: 44px;
//     margin-bottom: 41px;
//   }

//   &__input_3 {
//     border-radius: 6px;
//     background: #f6f6fb;
//     width: 228px;
//     height: 44px;
//   }

//   &__label {
//     display: block;
//     margin-bottom: 12px;
//   }

//   &__input_block {
//     display: flex;
//     align-items: center;
//     gap: 30px;
//   }

//   &__area {
//     width: 764px;
//     height: 110px;
//     margin-bottom: 96px;
//   }

//   &__btn {
//     color: #212121;
//     font-family: Mulish;
//     font-size: 14px;
//     font-style: normal;
//     font-weight: 700;
//     line-height: 72%;
//     padding: 14px 16px;
//     border-radius: 10px;
//     margin-left: 100px;
//     margin-top: 40px;
//     border: none;
//     cursor: pointer;
//   }
// }

// .footer {
//   width: 100%;
//   height: 100px;
//   background-color: white;
//   margin-top: -250px;
//   border-radius: 25px;

//   &__block {
//     display: flex;
//     gap: 20px;
//     margin: 0 auto;
//     justify-content: center;
//     padding-top: 25px;
//   }

//   &__btn {
//     color: #fff;
//     font-family: Mulish;
//     font-size: 14px;
//     font-style: normal;
//     font-weight: 800;
//     line-height: 72%;
//     padding: 15px 20px;
//     border-radius: 6px;
//     background: #1bc58d;
//     border: none;
//     cursor: pointer;
//   }

//   &__btnn {
//     color: #80809b;
//     font-family: Mulish;
//     font-size: 14px;
//     font-style: normal;
//     font-weight: 800;
//     line-height: 72%;
//     padding: 15px 20px;
//     border-radius: 6px;
//     background: #f7f7ff;
//     border: none;
//     cursor: pointer;
//   }
// }
