.home {
  width: 1100px;
  margin: 0 auto;
  border-radius: 25px;

  height: 600px;
  flex-shrink: 0;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 100px;

  .HomeInfo {
    color: #212121;
    text-align: center;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 72%;
    padding-top: 100px;
  }

  .HomeLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 66px;
  }

  .CreateBtn {
    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border-radius: 6px;
    background: #1bc58d;
    padding: 15px 25px;
    cursor: pointer;
    border: none;
  }
}
