@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;800&display=swap');


body{
    margin: 0;
    padding: 0;
    background: #c2c2c3;
    font-family: 'Mulish', sans-serif;
}

.block{
    display: flex;
}
.block__second{
    width: 100%;
}